

@media only screen and (max-width: 960px) {
    .experience-card-container{
        width: 85%;
    }
    .card-body{
        margin-left: 29% !important;
    }
    }

.card-details{
    display: flex;
    flex-direction: row;
    column-gap: 10%;
}

.card-dates{
    font-size: smaller;
    color:  #4b4b4b;
    font-weight: 500;
    line-height: 1.8;
}

.card-company-title{
    font-weight: 500;
    min-width: 80%;
}

.redirect-company{
cursor: pointer;
padding-left: 1%;
}

.seperator{
    padding-left: 1%;
    padding-right: 1%;
}

.card-body{
    margin-left: 21%;
}

.card-languages{
    display: block;
}

.padding-top-5{
    padding-top: 5%;
}