.story-container{
    width: 35%;
    transition: display 1.5s;
    line-height: normal;
    font-family:  ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    display: none;
}

@media only screen and (max-width: 960px) {
.story-container{
    width: 100%;
    margin-left: 3%;
    margin-right: 3%;
}

}

.section-header{
    font-size: 2rem;
    padding-bottom: 5%;
}