@import url("https://rsms.me/inter/inter.css");

.story-container{
    width: 35%;
    transition: display 1.5s;
    line-height: normal;
    font-family: Inter, sans-serif;
    display: none;
}

@media only screen and (max-width: 960px) {
.story-container{
    width: 100%;
    margin-left: 3%;
    margin-right: 3%;
}

}

.section-header{
    font-size: 2rem;
    padding-bottom: 5%;
}